
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom,rgba(247,235,97,.47) 0,rgba(240,140,205,.47) 50%,rgba(115,210,230,.47) 100%);
}
span.badge.rounded-pill.bg-danger{
  font-size: 10px;
    position: relative;
    left: -6px;
    top: -7px;
}
.footer-copyright {
  justify-content: center!important;
  background-color: black;
  color: white;
}
#bliss-large-bubbles {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: url(https://cdn11.bigcommerce.com/s-9p889rxpkb/stencil/1eb36930-185e-013a-15d7-2a96fbc18b7d/e/5de963e0-17dc-013a-8620-4ac77193eb05/img/parallax-bk.png);
  background-size: 100vw auto;
  background-position: center center;
  z-index: -1;
  opacity: .7;
}
.container{
  background: azure;
  padding: 20px;
}
.form-horizontal{
  background: #9e9e9e;
    border-radius: 30px;
}